<a href="https://colab.research.google.com/github/Harsha84/DS_projects/blob/main/knowing%20the%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This includes data from internet for food being ordered, with item name, order id, price

In [2]:
import pandas as pd
import numpy as np

In [44]:
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
chipo.shape[0]

4622

In [6]:
chipo.shape[1]

5

In [7]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [12]:
chipo.order_id.mean()

927.2548680225011

In [13]:
chipo.order_id.max()

1834

In [14]:
chipo.order_id.min()

1

In [46]:
chipo.item_price.max()

'$9.39 '

In [47]:
c=chipo.groupby('item_name')
c=c.sum()
cc = c.sort_values(['quantity'], ascending=False)
cc.head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

In [48]:
b=chipo.groupby('choice_description').sum()
bb=b.sort_values(['quantity'],ascending=False)
bb.head()

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

In [49]:
v=chipo.quantity.sum()
v

4972

In [50]:
chipo.item_price.dtype

dtype('O')

In [53]:
chnage_dollar=lambda x:float(x[1:-1])
chipo.item_price=chipo.item_price.apply(chnage_dollar)

In [54]:
chipo.item_price.dtype

dtype('float64')

In [60]:
rev=(chipo['quantity']*chipo['item_price']).sum()
print('rev was: $' + str(np.round(rev,2)))

rev was: $39237.02

In [65]:
no_of_orders=chipo.order_id.value_counts().count()
no_of_orders

1834

In [66]:
chipo.item_name.value_counts().count()

50